@model IEnumerable<OrderManagement.Order>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

@section Scripts
{
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        function getEmployeeDetails(empId)
        {
         $.ajax({
                 url: '@Url.Action("EmployeeDetails")',
                 data: { id: empId },
                 success: function (data) {
                            $('#empDetailsModal').modal("show");
                            $("#empDetails").html(data).modal("show");
                            }
                });
        }
    </script>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="empDetailsModal" class="modal">
    <br/>
    <br/>
    <br/>
    <div class="col-md-offset-3 col-md-6" id="empDetails">    
    </div>            
</div>

@{
    Html.RenderPartial("_Orders", Model);   
}

