@model PagedList.IPagedList<OrderManagement.Order>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

@section Scripts
{
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
}
<script type="text/javascript" src="~/Scripts/DemoApp.js"></script>

<div id="page">
    @{
        ViewBag.Title = "Index";
        Html.RenderPartial("_Orders", Model);   
    }
</div>

<div id="empDetailsModal" class="modal">
    <br />
    <br />
    <br />
    <div class="col-md-offset-3 col-md-6" id="empDetails">
    </div>
</div>

<div id="myModal" class="modal">
    <div id="orderInfo">
    </div>
</div>

<input type="hidden" value="@Url.Action("Delete", "Home")" id="urlDelete"/>
<input type="hidden" value="@Url.Action("EmployeeDetails", "Home")" id="urlDetails"/>
