@model IEnumerable<MusicStore.Models.Artist>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<table class="table table-condensed table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th></th>
		<th></th>
	</tr>
	
	@Html.Partial("_Artists", Model)


</table>
