@model IEnumerable<MusicStore.Models.Album>

@{
	ViewBag.Title = "Albums";
}
@section pageTitle{
	<div class="jumbotron">
		<div class="container">
			<h2>@ViewBag.Title</h2>
			<p>@ViewBag.NotFound</p>
		</div>
	</div>
}

<div class="col-md-offset-2">
	@{
		Html.RenderPartial("_Album", Model);   
	}

</div>
